input[type="button"], input[type="reset"] {
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    border: 1px solid rgb(184, 184, 184);   
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 7px;
}

#button1 {
    margin-top: 15px;
    width: 160px;
    color: $header-text-color;
    background-color: $primary-color;
    font-weight: 700;
    font-size: 15px;
    background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
    &:hover {
    background-color: #d9dddd; background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3));
    background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
    }
}

#button2 {
    @extend #button1;
    margin-top: 0px;
    float: right;
    width: 153px;
    padding: 3px;
    font-size: 18px;
    font-weight: 700;
}