main {
    background-color: $aqua-color;
    color: white;
    h1 {
        color: $header-text-color;
        padding-top: 10px;
    }
    .card-grid {
        display: grid;
        grid-template-columns: 33% 33% 33%;

        .card {
            justify-self: center;
            width: 80%;
            text-align: center;
            img {
                width: 100%;
            }
        }
    }
}
